<div class="table-responsive">
                      
  <table class="table table-bordered table-hover">
    <thead>
      <tr align="center">
        <th>{{ column_date_added }}</th>
        <th>{{ column_username }}</th>
        <th>{{ column_description }}</th>
        <th>{{ column_transactiontype }}</th>
        <th>{{ column_transactionsubtype }}</th>
        <th class="text-end">{{ column_amount }}</th>
        <th class="text-end">{{ column_balance }}</th>
        <th>{{ column_txtid }}</th>
      </tr>
    </thead>
    <tbody>
      {% if transactions %}
        {% for transaction in transactions %}
          <tr>
            <td>{{ transaction.date_added }}</td>
            <td>{{ transaction.firstname ~ " " ~ transaction.lastname}}</td>
            <td>{{ transaction.description }}</td>
            <td>{{ transaction.transactiontype }}</td>
            <td>{{ transaction.transactionsubtype }}</td>
            <td class="text-end">{{ transaction.amount }}</td>
            <td class="text-end">{{ transaction.balance }}</td>
            <td>{{ transaction.txtid }}</td>
          </tr>
        {% endfor %}
        
        {#<tr>
          <td colspan="4">&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td class="text-end" colspan="2"><b>{{ text_balance }}</b></td>
          <td colspan="2">{{ aepsbalance }}</td>
        
        </tr>#}
      {% else %}
        <tr>
          <td class="text-center" colspan="8">{{ text_no_results }}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-sm-6 text-start">{{ pagination }}</div>
  <div class="col-sm-6 text-end">{{ results }}</div>
</div>
