{{ header }}{{ column_left }}
 <style>
.my-filter-input {
    display: none;
}
.my-filter{
    display: block;    
    padding: 10px;
    margin: 0 0 1px 0;
    cursor: pointer;
    border: 1px solid #A7A7A7;
    background: #6AAB95;
    border-radius: 3px;
    color: #FFF;
    transition: ease .5s;

}
.my-filter:hover {
    background: #4E8774;
}

.my-filter-content {
    background: #313941;
    padding: 15px;
    border: 1px solid #A7A7A7;
    margin: 0 0 1px 0;
    border-radius: 3px;
    display: grid; 
    
   
}

.my-filter-input + .my-filter + .my-filter-content {
    display: none;
    padding-right: -2px;
}

.my-filter-input:checked + .my-filter + .my-filter-content {
    display: block;
}

.myfilter-container
{
    padding-left: 250px;
}
</style>
<div id="content">
  <div class="page-header">
    <div class="container-fluid myfilter-container">
      <div class="pull-right">
        <button type="button" data-toggle="tooltip" title="{{ button_filter }}" onclick="$('#filter-product').toggleClass('hidden-sm hidden-xs');" class="btn btn-default hidden-md hidden-lg"><i class="fa fa-filter"></i></button>
        <!--<a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>-->
         <!--<button type="submit" form="form-product" formaction="{{ copy }}" data-toggle="tooltip" title="{{ button_copy }}" class="btn btn-default"><i class="fa fa-copy"></i></button>--->
        <!--<button type="button" form="form-product" formaction="{{ delete }}" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger" onclick="confirm('{{ text_confirm }}') ? $('#form-product').submit() : false;"><i class="fa fa-trash-o"></i></button>-->
      </div>
      <h1>{{ heading_title }}</h1>
            <ol class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
            <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid myfilter-container">{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if success %}
    <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="row">
      <div id="filter-product" class="col-sm-12 hidden-sm hidden-xs">
         <div class="panel panel-default">
        <input class="my-filter-input"type="checkbox" id="title2" />
        <label class='my-filter panel-heading'for="title2" style="background-color:#313941;color:white;"><i class="fa fa-filter"></i> {{ text_filter }}<span style="float:right;"><i class="fa fas fa-chevron-down fa-1x" ></i></span>
        </label>
        <div class="my-filter-content panel-body">
       <p>
      <div class="row mb-12" style="row-gap: 20px;">
      <div class="col-sm-3">
          <label class="control-label" style="color:white;" for="input-fdate">{{ entry_fdate }}</label>
          <input type="date" name="filter_fdate" style="color:black;" value="{{ filter_fdate }}" placeholder="{{ entry_fdate }}" id="input-fdate" class="form-control" />
        </div>
        <div class="col-sm-3">
          <label class="control-label" style="color:white;"  for="input-tdate">{{ entry_tdate }}</label>
          <input type="date" style="color:black;" name="filter_tdate" value="{{ filter_tdate }}" placeholder="{{ entry_tdate }}" id="input-tdate" class="form-control" />
        </div>
        <div class="col-sm-3">
          <label class="control-label" style="color:white;" for="input-name">{{ entry_name }}</label>
          <input type="text" style="color:black;" name="filter_customerid" value="{{ filter_customerid }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
        </div>
         <div class="col-sm-3">
              <label style="color:white;"  class="control-label" for="input-customer-group-id">{{ entry_customer_group_id }}</label>
              <select  style="color:black;" name="filter_customer_group_id" id="input-customer-group-id" class="form-control">
                                    <option value=""></option>
                {% for customer_group in customer_groups %}
                {% if customer_group.customer_group_id == filter_customer_group_id %}
                <option value="{{ customer_group.customer_group_id }}" selected="selected">{{ customer_group.name }}</option>
                {% else %}
                <option value="{{ customer_group.customer_group_id }}">{{ customer_group.name }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
            <div class="col-sm-3">
          <label class="control-label" style="color:white;" for="input-model">{{ entry_model }}</label>
          <input type="text" style="color:black;" name="filter_rechargenumber" value="{{ filter_rechargenumber }}" placeholder="{{ entry_model }}" id="input-model" class="form-control" />
        </div>
        <div class="col-sm-3">
          <label class="control-label" style="color:white;" for="input-price">{{ entry_price }}</label>
          <input type="text" style="color:black;" name="filter_amount" value="{{ filter_amount }}" placeholder="{{ entry_price }}" id="input-price" class="form-control" />
        </div>
        <div class="col-sm-3">
          <label class="control-label" style="color:white;" for="input-ourrequestid">{{ entry_ourrequestid }}</label>
          <input type="text" style="color:black;" name="filter_ourrequestid" value="{{ filter_ourrequestid }}" placeholder="{{ entry_ourrequestid }}" id="input-ourrequestid" class="form-control" />
        </div>
        <div class="col-sm-3">
          <label class="control-label" style="color:white;" for="input-operator">{{ entry_operator }}</label>
          <input type="text" style="color:black;" name="filter_operator" value="{{ filter_operator }}" placeholder="{{ entry_operator }}" id="input-operator" class="form-control" />
        </div>
        <div class="col-sm-3">
          <label class="control-label" style="color:white;" for="input-rechargetype">{{ entry_rechargetype }}</label>
          <input type="text" style="color:black;" name="filter_rechargetype" value="{{ filter_rechargetype }}" placeholder="{{ entry_rechargetype }}" id="input-rechargetype" class="form-control" />
        </div>
        <div class="col-sm-3">
          <label class="control-label" style="color:white;" for="input-apirequestid">{{ entry_apirequestid }}</label>
          <input type="text" style="color:black;" name="filter_apirequestid" value="{{ filter_apirequestid }}" placeholder="{{ entry_apirequestid }}" id="input-apirequestid" class="form-control" />
        </div>
            
        <div class="col-sm-3">
          <label class="control-label" style="color:white;"  for="input-status">{{ entry_status }}</label>
          <select name="filter_status" style="color:black;" id="input-status" class="form-control">
            <option value=""></option>
                {% if filter_status == '0' %}
                    <option value="0" selected="selected">{{ recharge_failed }}</option>
                    <option value="1">{{ recharge_success }}</option>
                    <option value="2">{{ recharge_pending }}</option>
                    <option value="4">{{ recharge_unknown }}</option>
                {% elseif filter_status == '1' %}
                    <option value="0">{{ recharge_failed }}</option>
                    <option value="1" selected="selected">{{ recharge_success }}</option>
                    <option value="2">{{ recharge_pending }}</option>
                    <option value="4">{{ recharge_unknown }}</option>
                {% elseif filter_status == '2' %}
                    <option value="0">{{ recharge_failed }}</option>
                    <option value="1">{{ recharge_success }}</option>
                    <option value="2" selected="selected">{{ recharge_pending }}</option>
                    <option value="4">{{ recharge_unknown }}</option>
                {% elseif filter_status == '4' %}
                    <option value="0">{{ recharge_failed }}</option>
                    <option value="1">{{ recharge_success }}</option>
                    <option value="2">{{ recharge_pending }}</option>
                    <option value="4"  selected="selected">{{ recharge_unknown }}</option>
                {% else %}
                    <option value="0">{{ recharge_failed }}</option>
                    <option value="1">{{ recharge_success }}</option>
                    <option value="2">{{ recharge_pending }}</option>
                    <option value="4">{{ recharge_unknown }}</option>
                {% endif %}
                    
          
          </select>
        </div>
        <div class="form-group col-sm-3" style="float:right;margin-top:20px">
              <button  style="float:right; background-color:white;color:black;" type="button" id="button-filter" class="btn btn-default"><i class="fa fa-filter"></i> {{ button_filter }}</button>
              <h3 class="panel-title" class="col-sm-2" style="float:left;"><a href="{{export}}"><i class="fa fa-file-excel-o" style="font-size:30px;color:green"></i></a> </h3>
            </div>
            
        </div>
        </p>
    </div>
    </div>
      
      </div>
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" >
                  <thead style="background-color:#a86c85">
                   {# <tr>
                      <!--<td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>-->
                      <td class="text-center"><h3 class="panel-title"><b><i class="fa fa-line-chart" style="color:black"></i> {{ product_total_sale }}</b></h3></td>
                      <td class="text-center"><h3 class="panel-title"><b><i class="fa fa-thumbs-up" style="color:green"></i> {{ product_total_success }}</b></h3></td>
                      <td class="text-center"><h3 class="panel-title"><b><i class="fa fa-thumbs-down" style="color:brown"></i> {{ product_total_failed }}</b></h3></td>
                      <td class="text-center"><h3 class="panel-title"><b><i class="fa fa-hand-rock-o" style="color:orange"></i> {{ product_total_pending }}</b></h3></td>
                    </tr>
                    <tr>
                      <!--<td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>-->
                      <td class="text-center"><h3 class="panel-title" style="color:black"><b>{{ADMIN_PROFIT}} {{ product_total_adminprofit }}</b></h3></td>
                      <td class="text-center"><h3 class="panel-title" style="color:green"><b>{{AGENT_PROFIT}} {{ product_total_agentprofit }}</b></h3></td>
                      <td class="text-center"><h3 class="panel-title" style="color:brown"><b>{{AGENT_SURCHARGE}} {{ product_total_surcharge }}</b></h3></td>
                      <td class="text-center"><h3 class="panel-title" style="color:orange"><b>{{TOTAL_UPWORD}} {{ product_total_upword }}</b></h3></td>
                    </tr>#}
                  </thead>
                </table>
              </div>
          </div>
          <div class="panel-heading">
            <h3 class="panel-title" style="color:white"><i class="fa fa-list"></i></h3>
        </div>
          
          <div class="panel-body">
            <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-product">
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead style="background-color:#861f41">
                    <tr>
                      <!--<td style="width: 1px;" class="text-left"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>-->
                      <td class="text-center" style="color:white">{{ column_srno }}</td>
                      <td class="text-center">{% if sort == 'p.MemberId' %} <a style="color:white" href="{{ sort_custmerid }}" class="{{ order|lower }}">{{ column_custmerid }}</a> {% else %} <a style="color:white" href="{{ sort_custmerid }}">{{ column_custmerid }}</a> {% endif %}</td>
                      <td class="text-center" style="color:white">{{ column_systemid }}</td>
                      <td class="text-center">{% if sort == 'p.number' %} <a style="color:white" href="{{ sort_number }}" class="{{ order|lower }}">{{ column_number }}</a> {% else %} <a style="color:white" href="{{ sort_number }}">{{ column_number }}</a> {% endif %}</td>
                      <td class="text-center">{% if sort == 'p.amount' %} <a style="color:white" href="{{ sort_amount }}" class="{{ order|lower }}">{{ column_amount }}</a> {% else %} <a  style="color:white" href="{{ sort_amount }}">{{ column_amount }}</a> {% endif %}</td>
                      <td class="text-center" style="color:white">{{ column_operator }}</td>
                      <td class="text-center" style="color:white">{{ column_rechargetype }}</td>
                      <td class="text-center" style="color:white">{{ column_customer_group }}</td>
                      <td class="text-center" style="color:white">{{ column_api_requestid }}</td>
                      <td class="text-center">{% if sort == 'p.status' %} <a style="color:white" href="{{ sort_status }}" class="{{ order|lower }}">{{ column_status }}</a> {% else %} <a style="color:white" href="{{ sort_status }}">{{ column_status }}</a> {% endif %}</td>
                      <td class="text-center">{% if sort == 'p.date' %} <a style="color:white" href="{{ sort_date }}" class="{{ order|lower }}">{{ column_date }}</a> {% else %} <a style="color:white" href="{{ sort_date }}">{{ column_date }}</a> {% endif %}</td>
                      <td class="text-center" style="color:white">{{ column_source }}</td>
                   <!--     <td class="text-left" style="color:black">{{ column_action }}</td>-->

                      </tr>
                  </thead>
                  <tbody>
                  
                  {% if products %}
                  {% for product in products %}
                  <tr>
                    <!--<td class="text-left">{% if product.product_id in selected %}
                      <input type="checkbox" name="selected[]" value="{{ product.product_id }}" checked="checked" />
                      {% else %}
                      <input type="checkbox" name="selected[]" value="{{ product.product_id }}" />
                      {% endif %}</td>-->
                    <td class="text-left">{{ product.srno }}</td>
                    <!--<td class="text-left">{% if product.image %} <img src="{{ product.image }}" alt="{{ product.name }}" class="img-thumbnail" /> {% else %} <span class="img-thumbnail list"><i class="fa fa-camera fa-2x"></i></span> {% endif %}</td>-->
                    <td class="text-left">{{ product.customerid }}</td>
                    <td class="text-left">{{ product.clientid }}</td>
                    <td class="text-left">{{ product.number }}</td>
                    <!--<td class="text-left">{% if product.special %} <span style="text-decoration: line-through;">{{ product.price }}</span><br/>
                      <div class="text-danger">{{ product.special }}</div>
                      {% else %}
                      {{ product.price }}
                      {% endif %}</td>-->
                    <td class="text-left">{{ product.amount }}</td>
                    <td class="text-left">{{ product.operator }}</td>
                    <td class="text-left">{{ product.Recharge_mode }}</td>
                    <td class="text-left">{{ product.customer_group }}</td>
                    <td class="text-left">{{ product.apirequestid }}</td>
                    <td class="text-left">{% if product.status == recharge_pending %} <span class="label label-warning">{{ product.status }}</span> {% elseif product.status == recharge_failed %} <span class="label label-danger">{{ product.status }}</span>{% elseif product.status == recharge_success %} <span class="label label-success">{{ product.status }}</span> {% else %} <span class="label label-info">{{ product.status }}</span> {% endif %}</td>
                    <td class="text-left">{{ product.date }}</td>
                    <td class="text-left">{{ product.source }}</td>
                    <!-- <td class="text-left"><a href="{{ product.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a></td>-->
                    <!--<td class="text-left">{% if product.quantity <= 0 %} <span class="label label-warning">{{ product.quantity }}</span> {% elseif product.quantity <= 5 %} <span class="label label-danger">{{ product.quantity }}</span> {% else %} <span class="label label-success">{{ product.quantity }}</span> {% endif %}</td>-->
                    <!--<td class="text-left"><span class="label label-success">{{ product.amount }}</span></td>-->
                    
                </tr>
                  {% endfor %}
                  {% else %}
                  <tr>
                    <td class="text-center" colspan="12">{{ text_no_results }}</td>
                  </tr>
                  {% endif %}
                    </tbody>
                  
                </table>
              </div>
            </form>
            <div class="row">
              <div class="col-sm-6 text-left">{{ pagination }}</div>
              <div class="col-sm-6 text-right" style="color:white">{{ results }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
$('#button-filter').on('click', function() {
	var url = '';
    
    var filter_fdate = $('input[name=\'filter_fdate\']').val();

	if (filter_fdate) {
		url += '&filter_fdate=' + encodeURIComponent(filter_fdate);
	}
	
	var filter_tdate = $('input[name=\'filter_tdate\']').val();

	if (filter_tdate) {
		url += '&filter_tdate=' + encodeURIComponent(filter_tdate);
	}
	
	var filter_customerid = $('input[name=\'filter_customerid\']').val();

	if (filter_customerid) {
		url += '&filter_customerid=' + encodeURIComponent(filter_customerid);
	}

	var filter_rechargenumber = $('input[name=\'filter_rechargenumber\']').val();

	if (filter_rechargenumber) {
		url += '&filter_rechargenumber=' + encodeURIComponent(filter_rechargenumber);
	}

	var filter_amount = $('input[name=\'filter_amount\']').val();

	if (filter_amount) {
		url += '&filter_amount=' + encodeURIComponent(filter_amount);
	}
	var filter_operator = $('input[name=\'filter_operator\']').val();

	if (filter_operator) {
		url += '&filter_operator=' + encodeURIComponent(filter_operator);
	}
	var filter_apirequestid = $('input[name=\'filter_apirequestid\']').val();

	if (filter_apirequestid) {
		
		url += '&filter_apirequestid=' + encodeURIComponent(filter_apirequestid);
	}
    
    var filter_customer_group_id= $('select[name=\'filter_customer_group_id\']').val();

	if (filter_customer_group_id !== '') {
		
		url += '&filter_customer_group_id=' + encodeURIComponent(filter_customer_group_id);
	}
    
	var filter_rechargetype = $('input[name=\'filter_rechargetype\']').val();

	if (filter_rechargetype) {
		url += '&filter_rechargetype=' + encodeURIComponent(filter_rechargetype);
	}
	
	var filter_ourrequestid = $('input[name=\'filter_ourrequestid\']').val();

	if (filter_ourrequestid) {
		url += '&filter_ourrequestid=' + encodeURIComponent(filter_ourrequestid);
	}

	var filter_status = $('select[name=\'filter_status\']').val();

	if (filter_status !== '') {
		url += '&filter_status=' + encodeURIComponent(filter_status);
	}

	location = 'index.php?route=recharge/r_history&user_token={{ user_token }}' + url;
});
//--></script> 
 <script type="text/javascript"><!--
// IE and Edge fix!
$('button[form=\'form-product\']').on('click', function(e) {
	$('#form-product').attr('action', $(this).attr('formaction'));
});
  
   $('input[name=\'filter_customerid\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_customerid=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_customerid\']').val(item['label']);
	}
});

    $('input[name=\'filter_rechargenumber\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_rechargenumber=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['model'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_rechargenumber\']').val(item['label']);
	}
});
	
	$('input[name=\'filter_operator\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_operator=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['model'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_operator\']').val(item['label']);
	}
	
	});
	
	$('input[name=\'filter_apirequestid\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_apirequestid=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
			    console.log(json);
				response($.map(json, function(item) {
					return {
						label: item['model'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_apirequestid\']').val(item['label']);
	}
	
	
	
});

     $('input[name=\'filter_customer_group_id\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_customer_group_id=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				console.log(json);
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['product_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter_customer_group_id\']').val(item['label']);
	}
});
//--></script></div>

{{ footer }} 