{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end"><a href="{{ add }}" data-bs-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i class="fa-solid fa-plus"></i></a>
        <button type="submit" form="form-employmenttype" formaction="{{ delete }}" data-bs-toggle="tooltip" title="{{ button_delete }}" onclick="return confirm('{{ text_confirm }}');" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></button>
      </div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid" align="center">
    <div class="card" style="width: 600px;" >
      <div class="card-header"  style="background-color:#1872a2;height:40px" > </div> {#<i class="fa-solid fa-list"></i>#}
      <div id="employmenttype" class="card-body " style="width: 590px;" >{{ list }}</div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
$('#employmenttype').on('click', 'thead a, .pagination a', function(e) {
    e.preventDefault();

    $('#employmenttype').load(this.href);
});
//--></script>
{{ footer }}
